<footer class="footer">
    <div class="footer-nav container d-flex jcsb">
        <ul class="footer-nav-list d-flex aic">
            <li class="footer-nav-item"><a href="">首頁</a></li>
            <li class="footer-nav-item"><a href="">系列鏡框</a></li>
            <li class="footer-nav-item"><a href="">門市據點</a></li>
            <li class="footer-nav-item"><a href="">部落格</a></li>
            <li class="footer-nav-item"><a href="">常見問題</a></li>
        </ul>
        <ul class="icon-list d-flex">
            <li class="icon-list-item"><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="facebook" class="icon-img"></a></li>
            <li class="icon-list-item"><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="instegram" class="icon-img"></a></li>
            <li class="icon-list-item"><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line" class="icon-img"></a></li>
        </ul>
        <ul class="footer-contact">
            <li class="contact-item d-flex jcfs aic">
                <span class="contact-icon material-icons-outlined">
                    call
                    </span>
                <a href="">0800-000-000</a>
            </li>
            <li class="contact-item d-flex jcfs aic">
                <span class="contact-icon material-icons-outlined">
                    email
                    </span>                
                <a href="mailto:">glasses@business.co</a>
            </li>
        </ul>
       
    </div>
   
    
    <div class="container">
        <hr class="footer-hr">
        <div class="text d-flex jcsb">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="d-flex text-list">
                <li class="list-item">隱私權政策</li>
                <li class="list-item">服務條款</li>
            </ul>
        </div>
    </div>

</footer>