<header class="header">
    <div class="nav container d-flex jcsb">
        <div class="nav-brand d-flex"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="glasses"></div>
        <ul class="nav-list d-flex">
            <div class="nav-item"><a href="">系列鏡框</a></div>
            <div class="nav-item"><a href="">門市據點</a></div>
            <div class="nav-item"><a href="">部落格</a></div>
            <div class="nav-item"><a href="">常見問題</a></div>
        </ul>
    </div>  
</header>